{% extends 'base.html' %}

{% block page_title %}
    Something went wrong - we could not find the page
{% endblock page_title %}

{% block content %}
<div style="background-color:#eeefff;margin-top:20vh;padding:50px;border-radious:5px">
        <h2 style="color:blue; font-size:60px;text-align:center;margin:0">
            We could not find that page!
        </h2>
        <h1 style="color:red; font-size:260px;text-align:center;padding:0px;margin:0">404</h1>
        <h3 style="color:blue; font-size:60px;text-align:center;margin:0">
            Sorry, but we could not find a matching page!
        </h3>
    </div>
{% endblock content %}